.dashboard {
  padding: 40px 8%;
}

.dashboard h1 {
  margin-bottom: 30px;

  color: #1e3a8a;
}

.dashboard-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.dashboard {
  padding: 40px 8%;
}

.dashboard h1 {
  margin-bottom: 30px;

  color: #1e3a8a;

  text-align: center;
}

.dashboard-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}