.category-card {
  background: white;

  padding: 30px;

  border-radius: 12px;

  box-shadow: 0 2px 10px rgba(0,0,0,0.1);

  cursor: pointer;

  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card h2 {
  color: #2563eb;

  margin-bottom: 10px;
}